<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 <Product Name="ARX" Manufacturer="ARX CONSTRUTORA" Id="*" UpgradeCode="0ed0043f-f20b-4603-a2c8-74f0ece23ba6" Language="1033" Codepage="1252" Version="1.0.0">
  <Package Id="*" Keywords="Installer" Description="ARX 1.0.0 installer" Comments="Sistema de Gerenciamento" Manufacturer="ARX CONSTRUTORA" InstallerVersion="500" Languages="1033" Compressed="yes" SummaryCodepage="1252" Platform="x64"/>
  <MajorUpgrade DowngradeErrorMessage="A newer version of ARX is already installed."/>
  <Media Id="1" Cabinet="ARX.cab" EmbedCab="yes"/>
  <Directory Id="TARGETDIR" Name="SourceDir">
   <Directory Id="ProgramFiles64Folder">
    <Directory Id="INSTALLDIR" Name="ARX">
     <Component Id="ApplicationFiles0" Guid="313BF3EC-2DF2-4881-9EEC-64A0CCAC76F1" Win64="yes">
      <Environment Id="Environment" Name="PATH" Part="last" System="yes" Action="set" Value="[INSTALLDIR]"/>
      <File Id="staging_ARX_Sistemas.exe" Name="ARX_Sistemas.exe" Source="staging\ARX_Sistemas.exe"/>
      <File Id="staging_config.json" Name="config.json" Source="staging\config.json"/>
      <File Id="staging_updater.exe" Name="updater.exe" Source="staging\updater.exe"/>
      <File Id="staging_Version" Name="Version" Source="staging\Version"/>
     </Component>
     <Directory Id="staging_assets" Name="assets">
      <Component Id="ApplicationFiles1" Guid="862AFD06-1CB9-4123-900B-8450C291F6C4" Win64="yes">
       <File Id="staging_assets_add.png" Name="add.png" Source="staging\assets\add.png"/>
       <File Id="staging_assets_add_backup.png" Name="add_backup.png" Source="staging\assets\add_backup.png"/>
       <File Id="staging_assets_close.png" Name="close.png" Source="staging\assets\close.png"/>
       <File Id="staging_assets_confirm.png" Name="confirm.png" Source="staging\assets\confirm.png"/>
       <File Id="staging_assets_delete.png" Name="delete.png" Source="staging\assets\delete.png"/>
       <File Id="staging_assets_edit.png" Name="edit.png" Source="staging\assets\edit.png"/>
       <File Id="staging_assets_eye.svg" Name="eye.svg" Source="staging\assets\eye.svg"/>
       <File Id="staging_assets_hide_password.png" Name="hide_password.png" Source="staging\assets\hide_password.png"/>
       <File Id="staging_assets_ico.ico" Name="ico.ico" Source="staging\assets\ico.ico"/>
       <File Id="staging_assets_loading.gif" Name="loading.gif" Source="staging\assets\loading.gif"/>
       <File Id="staging_assets_logo.png" Name="logo.png" Source="staging\assets\logo.png"/>
       <File Id="staging_assets_logo2.png" Name="logo2.png" Source="staging\assets\logo2.png"/>
       <File Id="staging_assets_menu.png" Name="menu.png" Source="staging\assets\menu.png"/>
       <File Id="staging_assets_profileImage.png" Name="profileImage.png" Source="staging\assets\profileImage.png"/>
       <File Id="staging_assets_show_password.png" Name="show_password.png" Source="staging\assets\show_password.png"/>
      </Component>
      <Directory Id="staging_assets_Fonts" Name="Fonts">
       <Component Id="ApplicationFiles2" Guid="08AB1635-8FC5-4006-8820-29F27645924B" Win64="yes">
        <File Id="staging_assets_Fonts_Roboto_Black.ttf" Name="Roboto-Black.ttf" Source="staging\assets\Fonts\Roboto-Black.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_BlackItalic.ttf" Name="Roboto-BlackItalic.ttf" Source="staging\assets\Fonts\Roboto-BlackItalic.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_Bold.ttf" Name="Roboto-Bold.ttf" Source="staging\assets\Fonts\Roboto-Bold.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_BoldItalic.ttf" Name="Roboto-BoldItalic.ttf" Source="staging\assets\Fonts\Roboto-BoldItalic.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_Italic.ttf" Name="Roboto-Italic.ttf" Source="staging\assets\Fonts\Roboto-Italic.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_Light.ttf" Name="Roboto-Light.ttf" Source="staging\assets\Fonts\Roboto-Light.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_LightItalic.ttf" Name="Roboto-LightItalic.ttf" Source="staging\assets\Fonts\Roboto-LightItalic.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_Medium.ttf" Name="Roboto-Medium.ttf" Source="staging\assets\Fonts\Roboto-Medium.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_MediumItalic.ttf" Name="Roboto-MediumItalic.ttf" Source="staging\assets\Fonts\Roboto-MediumItalic.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_Regular.ttf" Name="Roboto-Regular.ttf" Source="staging\assets\Fonts\Roboto-Regular.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_Thin.ttf" Name="Roboto-Thin.ttf" Source="staging\assets\Fonts\Roboto-Thin.ttf"/>
        <File Id="staging_assets_Fonts_Roboto_ThinItalic.ttf" Name="Roboto-ThinItalic.ttf" Source="staging\assets\Fonts\Roboto-ThinItalic.ttf"/>
       </Component>
      </Directory>
     </Directory>
    </Directory>
   </Directory>
   <Directory Id="ProgramMenuFolder">
    <Directory Id="ApplicationProgramsFolder" Name="ARX"/>
    <Directory Id="DesktopFolder" Name="Desktop"/>
   </Directory>
  </Directory>
  <DirectoryRef Id="ApplicationProgramsFolder">
   <Component Id="ApplicationShortcut" Guid="98F9345E-2A98-4BB1-8DB5-41E3AD4110A9">
    <Shortcut Id="ApplicationStartMenuShortcut" Name="ARX" Description="Sistema de Gerenciamento" Target="[INSTALLDIR]ARX_Sistemas.exe" WorkingDirectory="INSTALLDIR"/>
    <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Microsoft\ARX" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
   </Component>
  </DirectoryRef>
  <DirectoryRef Id="DesktopFolder">
   <Component Id="ApplicationShortcutDesktop" Guid="5A2754B6-5446-45A2-A4DD-3B3B05934435">
    <Shortcut Id="ApplicationDesktopShortcut" Name="ARX" Description="Sistema de Gerenciamento" Target="[INSTALLDIR]ARX_Sistemas.exe" WorkingDirectory="INSTALLDIR"/>
    <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Microsoft\ARX" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
   </Component>
  </DirectoryRef>
  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
  <UIRef Id="WixUI_FeatureTree"/>
  <Feature Id="Complete" Title="ARX 1.0.0" Description="The complete package" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
   <Feature Id="ARX" Title="ARX" Description="The MyProg program" Level="1" Absent="disallow">
    <ComponentRef Id="ApplicationFiles0"/>
    <ComponentRef Id="ApplicationFiles1"/>
    <ComponentRef Id="ApplicationFiles2"/>
   </Feature>
   <ComponentRef Id="ApplicationShortcut"/>
   <ComponentRef Id="ApplicationShortcutDesktop"/>
  </Feature>
 </Product>
</Wix>
